force-app/main/default/flows/Auction_Operations_Offer_w_Auction_Loss.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Vehicle Sold Without Approval case created.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Elected_Purchase_Agreement</name>
        <label>Elected Purchase Agreement?</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Vehicle_Sold_without_Approval_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Documentation_Review</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Documentation_Review.Issue_Solutions__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase agreement without proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Documentation_Review.Issue_Solutions__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase agreement with proceeds</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Record-Triggered Flow will create Vehicle Sold without Approval Cases and Post to Chatter when Auction Offers are updated. [SAL-3747] Update &apos;Auction Operations - Vehicle Sold Without Approval - Case&apos; Owner to AUC - BPO - Escalation.</description>
    <environments>Default</environments>
    <interviewLabel>Auction Operations - Offer w/ Auction Loss {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auction Operations - Offer w/ Auction Loss</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Vehicle_Sold_without_Approval_Case</name>
        <label>Create Vehicle Sold without Approval Case</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Request the auction unwind the sale if they are still in possession of the unit. If the sale cannot be unwound, ask that they credit us the difference between the sale amount and out min bid. If the auction refuses, as they credit us all fees so that this sells for a wash.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1T000003levYUAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01250000000UUVV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auction Operations - Vehicle Sold Without Approval - Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Documentation_Review</name>
        <label>Get Documentation Review</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Elected_Purchase_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Documentation_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Documentation_Review</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND 6 AND 7</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01250000000DTv6AAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Auction_Runs_Formula__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Gross_Profit__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Gross_Profit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sale_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sale_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sale_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Sale</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
